/NetBeansProjects/guia1/nbproject/private/
/NetBeansProjects/guia2/build/
/NetBeansProjects/guia2/dist/
/NetBeansProjects/guia2/nbproject/private/
/NetBeansProjects/guia3/nbproject/private/
/NetBeansProjects/guia3/build/
/NetBeansProjects/guia3/dist/
